{% extends 'base.html' %}
{% block content %}

<h1>One Piece Character Tracker</h1>

<p><em>The best place to track what affiliation your favorite One Piece character is a part of</em></p>

<h2>All affiliations</h2>

{% for affiliation in all_affiliations %}
<div class="affiliation">
    <a href="/affiliation/{{ affiliation.id }}">{{ affiliation.title }}</a> -
    {% if affiliation.characters %}
        {{ affiliation.characters|length }}
    {% else %}
        No characters yet
    {% endif %}
</div>
{% endfor %}

<h2>Characters with Haki</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for character in all_haki_characters %}
    <tr>
      <td>{{ character.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Characters with Devil Fruits</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for character in all_devilfruit_characters %}
    <tr>
      <td>{{ character.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}